
#vbFondo{
    -fx-background-color: #d0f1ff ;
}

#Boton{
    -fx-background-color: #97daf5 ;
}

#lbTitulo{
    -fx-font-family: Georgia;
    -fx-font-weight: 400;
    -fx-font-style: normal;
}

#btnAceptar, #btnCancelar{

    -fx-background-color: #3647b4 ;
    -fx-text-fill: #ffffff;
}